<%-include("../../views/partials/user/header")%>
    
    <section class="hero">
        <h1 class="hero-title">ABOUT</h1>
      
    </section>
    
    <section class="about-content">
        <div class="about-image">
            <img src="/images/MenShoe.png" alt="Sneaky Shoe">
        </div>
        
        <div class="about-text">
            <h2 class="about-heading">Learn more from us !!</h2>
            
            <p class="about-paragraph">
                At <strong>SNEAKY</strong>, we bring style, comfort, and quality to every step. From
                casual to formal, we've got the perfect pair for you. Step in and find
                your fit!
            </p>
            
            <div class="dropdown">
                <div class="dropdown-header">
                    <h3>What's New?</h3>
                    <span>▼</span>
                </div>
                <!-- Dropdown content here -->
            </div>
            
            <div class="dropdown">
                <div class="dropdown-header">
                    <h3>Offer Sales?</h3>
                    <span>▼</span>
                </div>
                <!-- Dropdown content here -->
            </div>
        </div>
    </section>
    
    <%-include("../../views/partials/user/footer")%>