<%-include("../../views/partials/user/header")%>

    <div class="checkout-header">
        <h1>CHECKOUT 1</h1>

    </div>

    <main class="checkout-main-content">
        <div class="checkout-container">
            <div class="checkout-form">
                <h2>Bill details</h2>
                <div class="checkout-progress-bar">
                    <div class="checkout-progress-item active">Shipping Method</div>
                    <div class="checkout-progress-item">Payment Method</div>
                    <div class="checkout-progress-item">Review</div>
                </div>

                <div class="shipping-address">
                    <h3>Shipping Address</h3>
                    <div class="address-cards">
                        <div class="address-card selected">
                            <h4>Default</h4>
                            <p>Sr Dalen</p>
                            <p>Dwandi, Dhaka 370, Bangladesh</p>
                            <p>415-555-0123</p>
                            <p>example@gmail.com</p>
                        </div>
                        <div class="address-card">
                            <h4>Office</h4>
                            <p>Sr Dalen</p>
                            <p>Dwandi, Dhaka 370, Bangladesh</p>
                            <p>415-555-0123</p>
                            <p>example@gmail.com</p>
                        </div>
                    </div>
                    <button class="checkout-btn">add</button>

                    <div class="shipping-methods">
                        <h3>Select a Shipping Method</h3>
                        <div class="shipping-option">
                            <input type="radio" name="shipping" checked>
                            <div>
                                <h4>Standard Ground (USPS) - $7.50</h4>
                                <p>Delivered in 8-12 business days</p>
                            </div>
                        </div>
                        <div class="shipping-option">
                            <input type="radio" name="shipping">
                            <div>
                                <h4>Premium Ground (UPS) - $12.50</h4>
                                <p>Delivered in 4-7 business days</p>
                            </div>
                        </div>
                    </div>


                    <button class="checkout-btn">Continue</button>
                </div>
            </div>

            <div class="order-summary">
                <h2>Your order</h2>
                <div class="summary-item">
                    <span>Subtotal</span>
                    <span>₹4500</span>
                </div>
                <div class="summary-item">
                    <span>Shipping & Handling</span>
                    <span>₹500</span>
                </div>
                <!-- <div class="summary-item">
                    <span>Tax</span>
                    <span>₹500</span>
                </div> -->
                <div class="summary-item checkout-total">
                    <span>Total</span>
                    <span>₹5500</span>
                </div>
            </div>
        </div>
    </main>

    <%-include("../../views/partials/user/footer")%>